//colors
.pwc-yellow {
  background-color: $pwc-yellow !important;
}
.pwc-yellow-light {
  background-color: #ffc83d !important;
}
.pwc-tangerine {
  background-color: $pwc-tangerine !important;
}
.pwc-orange {
  background-color: $pwc-orange !important;
}
.pwc-rose {
  background-color: $pwc-rose !important;
}
.pwc-digital-rose {
  background-color: $pwc-digital-rose !important;
}
.pwc-rose-light {
  background-color: #e27588 !important;
}
.pwc-red {
  background-color: $pwc-red !important;
}
.white-bg {
  background-color: $bgColorMain !important;
}
.light-bg {
  background-color: $bgColorLight !important;
}
.lighter-bg {
  background-color: #f5f5f5 !important;
}
.dark-bg {
  background-color: #222 !important;
}
.black-bg {
  background-color: $bgColorDark !important;
}
.white-txt {
  color: #fff !important;
}
.black-txt {
  color: #2d2d2d !important;
}

.color-txt {
  color: $colorMain !important;
}
