header {
  position: relative;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
}

.hero-icon {
  font-family: "Material Icons";
  font-size: 3rem !important;
}

.headline {
  margin-top: 220px;
}

.headline-txt {
  color: #ffffff;
  font-size: 5.5rem;
  text-transform: none;
  font-weight: bold;
  line-height: 1;
  margin-top: 0px;
  font-family: $txt-font;
  font-weight: bold;
}

.headline-txt2 {
  @extend .headline-txt;
  font-size: 4.5rem;
}
