.map {
  position: relative;
}

.map-popup {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 99;
  width: max-content;
  padding: 0.4rem 1.1rem;
  background-color: #fff;
  transition: all 300ms ease-in;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.22);
  opacity: 0;
  visibility: hidden;
}

.map-popup > *:first-child {
  margin-top: 0;
}
.map-popup > *:last-child {
  margin-bottom: 0;
}

.map-popup.open {
  opacity: 1;
  visibility: visible;
}

.marker {
  position: absolute;
  display: inline-block;
  z-index: 1;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $colorMain;
  content: "";
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z' clip-rule='evenodd'/></svg>");
  background-repeat: no-repeat;
  &:hover {
    filter: brightness(85%);
  }
}

.marker1 {
  top: 45%;
  left: 13.5%;
}
.marker2 {
  top: 50%;
  left: 64%;
}

@media only screen and (min-width: 48em) {
  .map-item {
    position: absolute;
    width: 45px;
    height: 45px;
  }
  .map-item .marker {
    top: auto;
    left: auto;
  }

  .map-item1 {
    top: 62%;
    left: 23.5%;
  }
  .map-item2 {
    top: 35%;
    left: 38%;
  }
  .map-item3 {
    top: 73%;
    left: 52%;
  }
  .map-item4 {
    top: 26%;
    left: 68%;
  }
  .map-item5 {
    top: 47%;
    left: 82%;
  }

  .map-itemA {
    top: 75%;
    left: 1%;
  }
  .map-itemB {
    top: 0%;
    left: 90%;
  }
  .map-itemC {
    top: 78%;
    left: 90%;
  }

  .map-popup {
    position: absolute;
    left: 55px;
    width: max-content;
    transform: translateY(-50%);
  }
  .map-popup:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -5px;
    margin-top: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-color: transparent #fff transparent transparent;
  }

  .map-popup.edge {
    left: auto;
    right: calc(100% + 24px);
  }
  .map-popup.edge:before {
    left: auto;
    right: -16px;
    border-width: 16px 0 16px 16px;
    border-color: transparent transparent transparent #fff;
  }
}
