//header
@media (pointer: coarse) and (hover: none) {
  header {
    background: url("../images/header-res.jpg") black no-repeat center center scroll;
    height: 100vh;
  }
  header video {
    display: none;
  }
}

// mobile - small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .noshow {
    display: none;
  }
  .noshow-mobile {
    display: none;
  }
  .mandant {
    padding-left: 80px;
  }
  .navbar-brand {
    padding-bottom: 2rem;
  }
  .care {
    display: none;
  }
  .navbar {
    padding-bottom: 0.5rem;
  }
  .navbar-collapse {
    border-top: 0.1em solid #ccc;
    align-items: center;
    width: 100%;
  }
  .navbar-nav {
    margin: 0em;
    display: block;
    padding: 1em;
  }
  .nav-link {
    font-size: 1.125em;
    padding: 0.8rem;
    padding-right: 0em !important;
  }
  .lang {
    display: block;
    padding-right: 0em !important;
  }
  .header-bg {
    position: relative;
    background: none;
    background-color: $colorMain;
    min-height: 100%;
  }
  .cta-btn {
    margin: 1rem 0;
    padding: 1em;
  }
  .contact-side {
    display: none;
  }
  .up-btn {
    display: none;
  }
  a.footer-mainnav,
  a.footer-subnav {
    display: block;
    padding: 0.5em 0;
  }
  .pad {
    padding: 2em;
  }
  .pad0 {
    padding: 0;
  }
  .pad15 {
    padding: 2em;
  }
  .pad30 {
    padding: 2em;
  }
  .pad60 {
    padding: 2em;
  }
  .pad90 {
    padding: 2em;
  }
  .pad90tb {
    padding: 4em 2.5em;
  }
  .top-mar60 {
    margin-top: 0em !important;
  }
  .top-mar90 {
    margin-top: 0em !important;
  }
  .proposal-img {
    background-size: auto;
  }
  .bi-icon {
    width: 100px !important;
    height: 100px !important;
  }
  #playVideo svg {
    width: 75px;
    height: 75px;
  }
  .map-item {
    display: none !important;
  }
  .quality-gfx {
    display: none !important;
  }
  .teamMembers {
    display: block;
  }
  .quality-res {
    display: block;
  }
}
