$circleborder: 3px;

body #magicMouseCursor {
  position: fixed;
  width: 35px;
  height: 35px;
  border: $circleborder solid #f5f5f5;
  border-radius: 50%;
  z-index: 9999;
  left: 0;
  top: 0;
  transition: transform 0.07s, width 0.3s, height 0.3s;
  pointer-events: none;
}
body #magicMouseCursor.cursor-square {
  border-radius: 0;
}

body #magicPointer {
  height: 5px;
  width: 5px;
  top: 0;
  left: 0;
  position: fixed;
  background: #fff;
  z-index: 9999;
  border-radius: 50%;
  pointer-events: none;
  transition: background 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s;
}
body #magicPointer.is-hover {
  background: $colorMain !important;
}
body #magicPointer.pointer-blur {
  height: 50px;
  width: 50px;
  background: none;
  border: 5px solid #2d2d2d;
  box-shadow: 0px 0px 15px -5px #2d2d2d;
}
body #magicPointer.pointer-overlay {
  height: 50px;
  width: 50px;
  mix-blend-mode: difference;
  box-shadow: 0px 0px 15px -5px #2d2d2d;
}

body .magic-hover {
  transition: all 0.2s;
}
body .magic-hover:hover {
  cursor: none;
}

.switcherCircle {
  border: $circleborder solid #2d2d2d !important;
}

.switcherPointer {
  background: #2d2d2d !important;
}

.switcherCircleDark {
  border: $circleborder solid #fff !important;
}

.switcherPointerDark {
  background: #fff !important;
}
